:root{
    --linear-shadow: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Play", "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.wrapper {
    background-size: cover;
    height: 100%;
    overflow-y: auto;
    object-fit: cover;
    background-position:center;
    background-image: url('./assets/IoTStars-bg.webp');
}

.container {
    position: relative;
    max-width: 500px;
    margin: auto;
}

.iotstars-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.wheel {
    max-height: 500px;
    width: 570px;
    position: absolute;
    max-width: 100%;
}

.marker {
    position: absolute;
    max-width: 80px;
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    margin-top: 5%;
}

.btn-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

.wheel-wrapper {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

.iotstars-wrapper {
  display: block;
  position: absolute;
  margin-top: 420px;
  align-content: center;
  text-align: center;
  width: 100%;
}

.iotstars-wrapper h1{
  color: #fff;
}

.button {
    max-width: 175px;
    padding: 8px 20px;
    width: 100%;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
  content: "";
  background: var(--linear-shadow);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#colorResult {
    display: none;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
}

.glow2 {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#userInputForm {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

/* blockrain buttons style */

.blockrain-btn {
  position: relative;
  display: inline-block;
  background: #fe4918;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #FFA500;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  cursor: default;
}

.blockrain-btn::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  transition: all 0.2s ease;
}
.blockrain-btn::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 100%;
  bottom: 0px;
  right: 0px;
  border: 2px solid #ffffff;
  border-left: none;
  border-bottom: none;
  transition: all 0.2s ease;
}

.blockrain-btn:hover::before {
  left: 5px;
  bottom: -8px;
  right: -8px;
}
.blockrain-btn:hover::after {
  top: 5px;
  bottom: -8px;
  right: -8px;
}


/* Style for the modal */

.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: "Play", "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.result-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: "Play", "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
}

label {
    margin-bottom: 8px;
}

input[type="submit"] {
    background-color: #240538;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #240538;
}


/* Result Modal styles */

.chat-overlay {
    position: fixed;
    bottom: -210px;
    right: -170px;
    width: 370px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    padding: 10px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.close-button {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.chat-content {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
